body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}


.pimgg1, .pimg2, .pimg3{
  position:relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  align-content: no-repeat;


/*
fixed = Parallax
scroll = normal
*/

  background-attachment: fixed;
}

.img4 {
  background-image: url('../img/img4.jpg');
  min-height: 87%;
  min-width: 65%;
}

.pimg2 {
  background-image: url('../img/img2.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('../img/img3.jpg');
  min-height: 400px;
}
